.principles-list {
  display: flex;
  justify-content: center;
}
.principles-list-info:not(:last-child) {
  margin-right: 30px;
}

.principles-decor-icon {
  display: flex;
  background: var(--grey-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.list-subtitle,
.list-subtitle-text {
  width: 270px;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-family: inherit;
  font-style: normal;
}

.list-subtitle {
  color: inherit;
  font-weight: bold;
  line-height: 1.142;
  text-transform: uppercase;
}

.list-subtitle-text {
  color: var(--title-text-color);
  font-weight: normal;
  line-height: 1.714;
  padding-top: 10px;
}
